@{
	ViewBag.Title = "Chat";
	Layout = "~/Views/Shared/_layout.cshtml";
}

<h2 id="chatHeading">Chat</h2>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/Scripts/underscore-min.js"></script>
<script type="text/javascript" src="/scripts/jquery.signalR.js"></script>
<script type="text/javascript" src="/scripts/chat.js"></script>
<script src="/signalr/hubs"></script>
@*
<input type="text" id="msg" />
<input type="button" id="broadcast" value="broadcast" />

<ul id="messages">
</ul>*@

<div id="masterMap" style="width: 560px; height: 500px;"></div>